ViewModelsXML/XML/Main/RadioStations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="stations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="station">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="url" minOccurs="1" maxOccurs="1"  type="urlPath" />
              <xs:element name="name" type="stationName" minOccurs="1" maxOccurs="1" />               
              <xs:element name="category" type="xs:string" minOccurs="0" />
              <xs:element name="country" type="xs:string" minOccurs="0" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="optional" />
          </xs:complexType>        
        </xs:element>
      </xs:sequence>
    </xs:complexType>

  </xs:element>
  <xs:simpleType name="stationName">
    <xs:restriction base="xs:string">
      <xs:minLength value="3"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="urlPath">
    <xs:restriction base="xs:string">
      <xs:minLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>


